<div>
    <div class="table-padding"></div>
    <nz-card [nzBordered]="false">
        <div nz-row>
            <div nz-col [nzSm]="16" [nzXs]="24">
                <div class="d-flex align-items-center mb-lg">
                    <h3 class="text-lg">资源🌲 </h3>
                    <div style="margin-left: 8px">
                        <label for="plat">平台：</label>
                        <nz-select name="plat" nzId="plat" style="width: 120px;"
                                   [nzPlaceHolder]="'请选择平台'" (ngModelChange)="changePlat($event)"
                                   [nzShowSearch]="true" [(ngModel)]="selPlat">
                            <nz-option *ngFor="let i of platList;" [nzLabel]="i.name"
                                       [nzValue]="i.id"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <tree #treeFFS
                      [tree]="ffs"
                      (nodeSelected)="treeNodeSel($event)"
                      [settings]="settings">
                </tree>
            </div>
            <div nz-col [nzSm]="8" [nzXs]="24" style="padding-left: 6px">
                <div class="d-flex align-items-center mb-lg">
                    <h3 class="flex-1 text-lg">权限列表</h3>
                    <div>
                        <nz-dropdown [nzPlacement]="'bottomLeft'">
                            <button nz-button nz-dropdown class="ml-sm">
                                批量操作 <i class="anticon anticon-down"></i>
                            </button>
                            <ul nz-menu>
                                <li nz-menu-item (click)="accredit()">授权</li>
                            </ul>
                        </nz-dropdown>
                    </div>
                </div>
                <nz-table #nzTable1 [nzDataSource]="tableData" [nzPageSize]="10"
                          (nzDataChange)="_displayDataChange($event)" (nzPageIndexChange)="_refreshStatus()"
                          (nzPageSizeChange)="_refreshStatus()">
                    <thead nz-thead>
                    <tr>
                        <th nz-th nzCheckbox>
                            <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate"
                                   (ngModelChange)="_checkAll($event)">
                            </label>
                        </th>
                        <th nz-th><span>资源</span></th>
                        <th nz-th><span>操作</span></th>
                    </tr>
                    </thead>
                    <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable1.data">
                        <td nz-td nzCheckbox>
                            <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                            </label>
                        </td>
                        <td nz-td>{{data.path}}</td>
                        <td nz-td>{{data.operation}}</td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </nz-card>
</div>

<nz-modal [nzVisible]="isVisible" style="position: absolute;right: 0;" [nzTitle]="'授权'"
          [nzContent]="temContent"
          (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
</nz-modal>
<ng-template #temContent>
    <form nz-form>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                <label>用户</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                <nz-input name="uid" [(ngModel)]="uid"></nz-input>
                <!--<nz-select [nzPlaceHolder]="'请选择用户'" [nzMultiple]="true"
                           [nzShowSearch]="true" [nzSize]="'large'">
                    <nz-option *ngFor="let option of userList;" [nzLabel]="option.name"
                               [nzValue]="option.value"></nz-option>
                </nz-select>-->
            </div>
        </div>
    </form>
</ng-template>
